<a href="/settings" class="back-button-margin button button-raised button-border button-rounded button-smallish"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Settings</a>
<div class="row">
  <div class="col-xs-12">
    <h3 class="center-text">Delete an Itinerary Item</h3>
  </div>
</div>
<div class="row" style="margin-top: 25px">
  <div class="col-xs-12">
    <select id="itin-select" class="form-control selectpicker" name="currentEventId">
           <% if (events.length >0){ %>
     <% var nowFormat = moment().tz(moment.tz.guess()); %>
      <% events.forEach(function(event){ %>  
        
       <% var month = event.date.slice(0,2);
        var day = event.date.slice(3,5);
        var year = event.date.slice(6,10);
        var forecastTime = year + '-' + month + '-' + day;
        var thisEventDate = moment(forecastTime).format('MMMM Do, YYYY');
        var dateForDow = moment(forecastTime);
        var thisDayOfWeek = dateForDow.format('dddd');
        var difference = dateForDow.diff(nowFormat);
%>
  <% if(difference > -172800000){ %>  
        <option value="<%=event.id%>"><%=event.date%> (<%=event.venue%>, <%=event.city%>)</option>
        <%}%>
      <%})%>
        <%} else {%>
            <option value="none">You have no events scheduled</option>
        <% } %>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped itin-delete-table" style="margin-top: 40px">
      <tbody>
        <%if (events.length>0){%> 
        <% events[0].itinItems.forEach(function(item){ %>
        <tr>
          <td><a attr="<%=item.id%>" href="#" class='delete-link'>Delete</a></td>
          <td ><%= item.task %></td>
          <td style='text-align: right;'><%=util.timeFormat(item.startTime) + ' - '%><%=util.timeFormat(item.endTime)%></td>
        </tr>
        <% }) %>
        <%} else{ %>
        <%}%>
      </tbody>
    </table>
  </div>
</div>




      

    

    
   
   
  




