
<div class="row">
  <div class="col-xs-12 center-text day-name"><h4><%= dayName %></h4></div>
</div>
<div class="row">
  <div class="col-xs-12 center-text date"><h3><%= date %></h3></div>
</div>
<% if(event){ %>
<div class="row">
  <div class="col-xs-12 center-text"><h4><%= event.venue %></h4></div>
</div>
<div class="row">
  <div class="col-xs-12 center-text"><h5><%= event.city %></h5></div>
</div>
<% } %>
<% if(event && event.lat && event.lng){ %>
<% var weatherArray = []; 
   var imageArray = [];
%>
<% for (var i = 0; i<weatherData.list.length; i++){ %>
   <% if(weatherData.list[i].dt_txt.indexOf(forecastTime) > -1){ %>
   <% weatherArray.push(weatherData.list[i].main.temp); %>
   <% imageArray.push(weatherData.list[i].weather[0].icon); %>
  <% } %> 
<% } %> 
<% if(weatherArray.length > 0){ %>
<% weatherArray.sort(function(a, b){return a-b}); 
var dailyMax = weatherArray[weatherArray.length - 1];
var dailyMin = weatherArray[0];
var dailyAvg = (weatherArray[3] + weatherArray[4])/2;
%>

<div class="row">
  <div class="col-xs-3 col-xs-offset-3 center-text" id="weather"><img src="http://openweathermap.org/img/w/<%=util.mode(imageArray)%>.png"></div>
  <div class="col-xs-3 center-text" id="weatherText"><%=util.toFahrenheit(dailyAvg)%>°F</div>
</div>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3 center-text" id="weatherExtra">High: <%=util.toFahrenheit(dailyMax)%>° / Low: <%=util.toFahrenheit(dailyMin)%>°</div>
</div>
 <% } %>
<% } %>



<div class="row">
<div class="col-xs-12">
<table class="table table-striped" style="margin-top: 40px">
    <tbody>
    <% if(event && event.itinItems && event.itinItems.length > 0){ %>
    <% event.itinItems.forEach(function(item){ %>
      <tr>
        <td><%= item.task %></td>








        
        <td style="text-align: right"><%=util.timeFormat(item.startTime) + ' - '%><%=util.timeFormat(item.endTime)%></td>
      </tr>
      <% }) %>
  
    

 
    </tbody>
  </table>
</div>
</div>


  <% } else {%>
    <table class="table table-striped">
    <tbody>
    <tr>
      <td>
      <h2 class="center-text">No items scheduled today</h2>
      </td>
    </tr>
    </tbody>
    </table>

<% } %>
<% if(event){ %>
<div class="center-text" style="margin-top: 15px;">
<h3 class="my-heading" style="margin-bottom: 5px;">Venue Info</h3>
<p><span>Address: </span><%=event.address%></p><br>
<h4 class="small-underlined-header">Additional Info</h4>
<%= event.info %> 
</div>
<% } %>
<!-- Centered Pills -->




