

<div class="row">
  <div class="col-xs-12 date"><%= date %></div>
</div>
<% if(event){ %>
<div class="row">
  <div class="col-xs-12 center-text"><h4><%= event.venue %></h4></div>
</div>
<div class="row">
  <div class="col-xs-12 center-text"><h5><%= event.city %></h5></div>
</div>
<% } %>
<% if(event && event.lat && event.lng){ %>
<% 
  function toFahrenheit(kelvin){
  return Math.round(kelvin * (9/5) - 459.67);
}%>
<% console.log(weatherData); %>
<% if (weatherData.lon !=0 ){%>
<div class="row">
  <div class="col-xs-4 col-xs-offset-2 center-text" id="weather"><img src="http://openweathermap.org/img/w/<%=weatherData.weather[0].icon%>.png"></div>
  <div class="col-xs-4 center-text" id="weatherText"><%=toFahrenheit(weatherData.main.temp)%> °F</div>
</div>
<% } %>  
<% } %>

<div class="row">
<div class="col-xs-12">
<table class="table table-striped" style="margin-top: 40px">
    <tbody>
    <% if(event && event.itinItems && event.itinItems.length > 0){ %>
    <% event.itinItems.forEach(function(item){ %>
      <tr>
        <td><%= item.task %></td>
        <%
          function timeFormat(hours){
  var letters = 'AM'
  var minutes = '00'
if (hours !== 0 && hours < 12){
  letters = 'AM';
}
else if (hours >= 12 && hours < 24){
  hours = hours - 12;
  letters = 'PM';
}
else if (hours >= 24 && hours < 36){
  hours = hours -24;
  letters = 'AM';
}
else if (hours === 0) {
        hours = 12;
        letters = 'AM';
    }
else {
  hours = 0;
  letters = 'error'
}
  if (hours - Math.floor(hours) === 0){
    minutes = '00'; 
  }
  else if (hours - Math.floor(hours) === .25){
    hours = hours - .25;
    minutes = '15'; 
  }
  else if (hours - Math.floor(hours) === .5){
    hours = hours - .5;
    minutes = '30'; 
  }
  else if (hours - Math.floor(hours) === .75){
    hours = hours - .75;
    minutes = '45'; 
  }
  else {
    minutes = 'error'
  }
var completeTime = hours +":"+ minutes +" "+ letters;
return completeTime;
}







         %>
        <td style="text-align: right"><%=timeFormat(item.startTime) + ' - '%><%=timeFormat(item.endTime)%></td>
      </tr>
      <% }) %>
  
    

 
    </tbody>
  </table>
</div>
</div>


  <% } else {%>
    <table class="table table-striped">
    <tbody>
    <tr>
      <h2 class="center-text">No events scheduled today</h2>
    </tr>
    </tbody>
    </table>

<% } %>
<% if(event){ %>
<div class="center-text" style="margin-top: 15px;">
<h3 class="my-heading" style="margin-bottom: 5px;">Venue Info</h3>
<p><span>Address: </span><%=event.address%></p><br>
<h4 class="small-underlined-header">Additional Info</h4>
<%= event.info %> 
</div>
<% } %>
<!-- Centered Pills -->




