
<div class="container">
<a href="/settings" class="back-button-margin button button-raised button-border button-rounded button-smallish"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Settings</a>
    


<div>
<h3 class="text-center">Edit Event</h3>
</div>
<div class="row" style="margin-top: 25px">
 
  <form method="PUT" id="add-venue-form" action="/edit-event/show" role="form">
  <div class="form-group">
    <input type="text" name="id" class="hidden" id="hidden-id" value="<%= event.id %>">
    <label class="sr-only" for="datepicker">Date:</label>
    <input type="text" class="datepicker" name="event-date" id="datepicker" value="<%= event.date %>" placeholder="Event Date">
    <label class="sr-only" for="venue-name">Venue Name:</label>
    <input type="text" name="event-venue-name" class="form-control" id="event-venue-name" value="<%= event.venue %>" placeholder="Venue Name">
    <label class="sr-only" for="venue-city">Venue City:</label>
    <input type="text" name="event-city" class="form-control" id="event-city" value="<%= event.city %>" placeholder="Venue City">
    <label class="sr-only" for="venue-address">Venue Address:</label>
    <input type="text" name="event-address" class="form-control" id="event-address" value="<%= event.address %>" placeholder="Complete Venue Address">
    <label class="sr-only" for="venue-info">Assorted Information:</label>
    <textarea class="form-control" name="event-info" rows="5" id="event-info" placeholder="Venue Information"><%= event.info %></textarea>
</div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 center-button">  
      <button type="submit" id="edit-venue-btn" class="edit-event-submit btn btn-default btn-block">Submit</button>
    </div>
  </div>
</form>
</div>
  <div style="margin-top: 40px" class="row">
    <div class="col-xs-12">
      <div id="venue-list">
    </div>
  </div> 
</div>
</div>