<div id="myCarousel" class="carousel slide" wrap="false" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="padding-bottom: 150px;">
      <div class="row">
        <div class="col-xs-12 center-text day-name"><h4><%= dayName %></h4></div>
      </div>
      <div class="row">
        <div class="col-xs-12 center-text"><h3><%= date %></h3></div>
      </div>
      <% if(event){ %>
      <div class="row">
        <div class="col-xs-12 center-text"><h4><%= event.venue %></h4></div>
      </div>
      <div class="row">
        <div class="col-xs-12 center-text"><h5><%= event.city %></h5></div>
      </div>
      <% } %>
      <% if(event && event.lat && event.lng){ %>
      <% if (weatherData.lon !=0 ){%>
      <div class="row">
        <div class="col-xs-3 col-xs-offset-3 center-text" id="weather"><img src="http://openweathermap.org/img/w/<%=weatherData.weather[0].icon%>.png"></div>
        <div class="col-xs-3 center-text" id="weatherText"><%=util.toFahrenheit(weatherData.main.temp)%>°F</div>
      </div>
  <% } %>  
  <% } %>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped" style="margin-top: 20px">
            <tbody>
            <% if(event && event.itinItems && event.itinItems.length > 0){ %>
            <% event.itinItems.forEach(function(item){ %>
              <tr>
                <td><%= item.task %></td>
                <td style="text-align: right"><%=util.timeFormat(item.startTime) + ' - '%><%=util.timeFormat(item.endTime)%></td>
              </tr>
              <% }) %>
            <% } else {%>
              <tr>
                <td>
                  <h2 class="center-text">No items scheduled today</h2>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <% if(event){ %>
      <div class="row">
        <div class="col-xs-12 center-text" style="margin-top: 15px;">
          <h3 class="my-heading" style="margin-bottom: 5px;">Venue Info</h3>
            <p><span>Address: </span><%=event.address%></p><br>
            <h4 class="small-underlined-header" style="margin-bottom: 5px;">Additional Info</h4>
              <p style="text-align: left;"><%= event.info %></p>
        </div>
      </div>
      <% } %>  
    </div>

    <div class="item" style="padding-bottom: 150px;">
    <div class="row">
    <div class="col-xs-12 center-text">
    <h3>What's Nearby</h3>
    <br>
    <div class="yelp-powered"></div>
    </div>
    </div>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-condensed table-striped recommendation-table" style="margin-top: 20px">
            <tbody>
            <%if(yelpFoodData){%>
            <% yelpFoodData.businesses.forEach(function(restaurant){ %>
              <tr>
                  
                  <td>
                  <a class="invisible-link" href=<%=restaurant.mobile_url%>>
                      <span class="restaurant-name"><%=restaurant.name%></span>
                    <br>
                      <div class="restaurant-review"><img src=<%=restaurant.rating_img_url_small%>></div> 
                      <div class="restaurant-review-count"><%=restaurant.review_count%> Reviews</div>
                    <br>
                      <span class="restaurant-address"><%=restaurant.location.display_address[0]%>, <%=restaurant.location.city%></span>
                    </a>
                  </td>
                
              </tr>
            <% }) %>
     <%} else{%>
              <tr>
                <td>
                  <h2 class="center-text">Add an address to this event to see nearby recommendations.</h2>
                </td>
              </tr>
      <%}%>
        </tbody>
          </table>
        </div>
      </div>
    </div>



  </div>
</div>




<!-- Gradient Div -->
<div class="gradient-footer"></div>






